@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  height: 100%;
  width: 100%;
}

.swiper .swiper-pagination-bullet-active {
  transform: scale(2);
  transform-origin: center;
}
